@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: rgb(7, 28, 48);
    color: #FFFFFF;
    font: normal 1.2em Arial;
}

header > h1 {
    padding: 15px;
    font: normal 3em 'Bebas Neue', cursive;
    text-align: center;
}

section{
    width: 500px;
    margin: auto;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 1px 3px 7px 1px rgba(0, 0, 0, 0.5);
    padding: 15px;
    color: #000000;
}

section > p{
    padding: 10px 0px;
}

input#btn{
    margin: 15px 0px;
    padding: 2px 5px;
    font-size: 0.9em;
}

footer{
    text-align: center;
    font: italic bold 1.2em arial;
    margin-top: 15px;
}