@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: rgba(28, 145, 255, 0.699);
    color: #FFFFFF;
    text-align: center;
    font: normal 1.4em Arial;
}

header > h1 {
    padding: 15px;
}

section{
    width: 500px;
    margin: auto;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 1px 3px 7px 1px rgba(0, 0, 0, 0.5);
    color: #000000;
}

div {
    padding: 15px;
}
footer{
    padding-top: 15px;
    font: italic bold 1em arial;
}